In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
cluster = pd.read_csv('data/중극장_군집분석.csv', encoding='cp949')
recover = pd.read_csv('data/충격지점이후분석.csv')

## Cluster 값 조인

In [ ]:
cluster= recover.merge(cluster[['공연시설코드', 'cluster']], on='공연시설코드', how='left')

In [ ]:
cluster

       공연시설코드     충격반응력       충격회복력  cluster
0    FC222007  0.999441  838.051600      1.0
1    FC222040  0.887045    2.596457      0.0
2    FC222048  0.996858   53.153837      1.0
3    FC222049  0.000000    0.000000      0.0
4    FC222054  0.965359    2.864677      0.0
..        ...       ...         ...      ...
133  FC223909  0.991397   16.383527      0.0
134  FC223941  0.000000    0.000000      1.0
135  FC224381  0.000000    0.000000      1.0
136  FC224454  0.000000    0.000000      1.0
137  FC224496  0.000000    0.000000      0.0

[138 rows x 4 columns]

In [ ]:
data = cluster[(cluster['충격회복력']!=0)&(cluster['충격회복력']!=-100)]
minvalue = data.groupby('cluster')[['충격회복력', '충격반응력']].min()
minvalue

            충격회복력     충격반응력
cluster
0.0      0.090933  0.114183
1.0      0.542680  0.250000

In [ ]:
c0_recovery_min=minvalue.iloc[0,0]
c0_response_min=minvalue.iloc[0,1]
c1_recovery_min=minvalue.iloc[1,0]
c1_response_min=minvalue.iloc[1,1]

In [ ]:
final_ratio=[]
theaters = cluster['공연시설코드'].unique()
for theater in theaters:
    if cluster[cluster['공연시설코드']==theater]['cluster'].iloc[0]==0:
        ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c0_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c0_response_min+0.0001))
    else:
        ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c1_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c1_response_min+0.0001))
    final_ratio.append(ratio)
cluster['ratio']=final_ratio

C:\Users\ohke7\AppData\Local\Temp\ipykernel_18232\3992247558.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c1_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c1_response_min+0.0001))
C:\Users\ohke7\AppData\Local\Temp\ipykernel_18232\3992247558.py:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c0_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c0_response_min+0.0001))

In [ ]:
data = cluster[(cluster['충격회복력']!=0)&(cluster['충격회복력']!=-100)]
ratiosummary = data.groupby('cluster')[['ratio']].agg(['mean', 'std'])
ratiosummary

            ratio
             mean       std
cluster
0.0      2.289903  1.696174
1.0      2.384379  2.853239

In [ ]:
c0_aver=ratiosummary.iloc[0,0]
c0_stdev=ratiosummary.iloc[0,1]
c1_aver=ratiosummary.iloc[1,0]
c1_stdev=ratiosummary.iloc[1,1]

In [ ]:
final_resilience=[]
theaters = cluster['공연시설코드'].unique()
for theater in theaters:
    if cluster[cluster['공연시설코드']==theater]['cluster'].iloc[0]==0:
        resilience=(cluster[cluster['공연시설코드']==theater]['ratio']-c0_aver)/c0_stdev
    else:
        resilience=(cluster[cluster['공연시설코드']==theater]['ratio']-c1_aver)/c1_stdev
    final_resilience.append(resilience.iloc[0])
cluster['resilience']=final_resilience

In [ ]:
cluster

,공연시설코드,감소폭,감소기간,최저지점이후회복기간,총기간,충격반응력,충격회복력,cluster,ratio,resilience
0,FC222007,17867850.0,15,6,21,0.999441,838.051600,1.0,7.018727,1.624241
1,FC222040,3548180.0,12,9,21,0.887045,2.596457,0.0,1.176063,-0.656679
2,FC222048,31731533.0,2,12,14,0.996858,53.153837,1.0,4.254676,0.655500
3,FC222049,0.0,0,0,0,0.000000,0.000000,0.0,-0.227898,-1.484401
4,FC222054,10366874.0,4,10,14,0.965359,2.864677,0.0,1.181252,-0.653619
...,...,...,...,...,...,...,...,...,...,...
133,FC223909,108654235.0,4,22,26,0.991397,16.383527,0.0,2.921606,0.372428
134,FC223941,0.0,0,0,0,0.000000,0.000000,1.0,0.775274,-0.563957
135,FC224381,0.0,0,0,0,0.000000,0.000000,1.0,0.775274,-0.563957
136,FC224454,0.0,0,0,0,0.000000,0.000000,1.0,0.775274,-0.563957
137,FC224496,0.0,0,0,0,0.000000,0.000000,0.0,-0.227898,-1.484401

In [ ]:
# cluster.to_csv("Medium_Theater_0_Reflection_X.csv", index=False)

In [ ]:
data = cluster[(cluster['충격회복력']!=0)&(cluster['충격회복력']!=-100)&(np.isnan(cluster['cluster'])==False)]
ratiosummary = data.groupby('cluster')[['감소폭', '감소기간', '최저지점이후회복기간', '총기간', '충격반응력', '충격회복력', 'ratio','resilience']].agg('mean')
ratiosummary

,감소폭,감소기간,최저지점이후회복기간,총기간,충격반응력,충격회복력,ratio,resilience
cluster,,,,,,,,
0.0,1.852476e+07,7.244444,8.733333,15.977778,0.862335,35.339623,2.289903,-1.690006e-16
1.0,9.605339e+06,11.256410,6.743590,18.000000,0.866736,37.966301,2.384379,-1.441155e-16

In [ ]:
ratiosummary.iloc[0,7] #표준화를 했기 때문에 0에 가까운 수치임

-1.6900061597071826e-16

# 회복점수구하기

## original

In [ ]:
import numpy as np
all_scores=[]

scores=data['resilience']
max_score = max(scores)
min_score = min(scores)
scaled_scores = [(score - min_score) / (max_score - min_score) * 100 for score in scores]
percentiles = [np.percentile(scaled_scores, (score - min_score) / (max_score - min_score) * 100) for score in scores]
all_scores.append(percentiles)

for score, percentile in zip(scores, percentiles):
    print(f"Score: {score}, Percentile: {percentile}")

Score: 1.6242411612883911, Percentile: 65.12589465628491
Score: -0.6566785657693849, Percentile: 55.790878529187424
Score: 0.655499518882575, Percentile: 61.01679282930905
Score: -0.6536190531985638, Percentile: 55.79490663846433
Score: -1.2507388914953785, Percentile: 52.98177699759682
Score: 0.47586184914747603, Percentile: 60.23399828860748
Score: -1.1614577279510603, Percentile: 53.196548542820594
Score: 0.6908200217883215, Percentile: 61.48427463054757
Score: 0.03399366762309262, Percentile: 58.64072410218873
Score: 0.03771705925043745, Percentile: 58.64612581168582
Score: 0.6173549664889608, Percentile: 60.5119335381492
Score: -0.419915747734688, Percentile: 56.24226151800847
Score: 3.0460793607526973, Percentile: 100.0
Score: 0.7868752696785185, Percentile: 61.9851988983364
Score: -0.18701484914099223, Percentile: 56.79107284290377
Score: -0.2187151097005295, Percentile: 56.77613958498761
Score: 1.682035951978928, Percentile: 65.50367281052577
Score: -0.8489755784826477, Percentile: 53.890860562106354
Score: -0.3412929693503657, Percentile: 56.6131693965082
Score: 0.015292339929963376, Percentile: 58.528718151830155
Score: 2.3316637316830997, Percentile: 71.93296996579048
Score: 1.3954866352901327, Percentile: 64.12537638626958
Score: -0.02888133355368153, Percentile: 58.15697780112261
Score: 0.5706282688253685, Percentile: 60.43292811219066
Score: -0.16458284488083874, Percentile: 56.80164004012173
Score: 0.2014650440460329, Percentile: 59.14963006260715
Score: 1.0250856326158222, Percentile: 62.732706060772145
Score: -0.38739852586457424, Percentile: 56.465414687539344
Score: -0.5869633888347734, Percentile: 55.81398723779693
Score: -0.5368342386135171, Percentile: 55.81982278001349
Score: -0.6470838409582088, Percentile: 55.8035108028345
Score: -0.6400768865707704, Percentile: 55.8087824607024
Score: 0.9859876237862936, Percentile: 62.56922688120015
Score: 0.27253749909760255, Percentile: 59.41149125709571
Score: -0.029453182875210347, Percentile: 58.15216544456332
Score: 0.4982798235815873, Percentile: 60.30041233851362
Score: -0.24928841110321348, Percentile: 56.75752662897064
Score: 0.2229658235283806, Percentile: 59.2288480914989
Score: 0.5395920767128343, Percentile: 60.40438787894924
Score: -1.0904465046277974, Percentile: 53.436639629078975
Score: -3.9134718541651567, Percentile: 0.0
Score: 0.04046606793566553, Percentile: 58.650113935366804
Score: -0.3957550558871869, Percentile: 56.42179796315038
Score: 1.9697317760912996, Percentile: 67.13484142197375
Score: 0.7533298986309227, Percentile: 61.832086123552465
Score: 0.23536494667250282, Percentile: 59.274531742004214
Score: 0.17546757104959645, Percentile: 59.038655480810085
Score: -1.0910124363925113, Percentile: 53.434449776613604
Score: -0.2095954328193796, Percentile: 56.780435653366055
Score: 0.5063080627034549, Percentile: 60.3241962836361
Score: 0.16700159794844077, Percentile: 59.0009396531883
Score: -1.483695658839777, Percentile: 50.747554284732765
Score: -0.028071490096299456, Percentile: 58.16379298009968
Score: -0.4631058574377589, Percentile: 55.921318773060506
Score: 1.1660796034584882, Percentile: 63.25571799746469
Score: -0.8968617957629796, Percentile: 53.86095669882901
Score: -1.35004075719381, Percentile: 52.0833996522145
Score: -0.5566613483337931, Percentile: 55.817071238243976
Score: 0.8094940407127564, Percentile: 62.09387943855896
Score: 0.1178926573397135, Percentile: 58.78215980159222
Score: -0.7630666882747099, Percentile: 54.93293056931892
Score: 0.2898256272226944, Percentile: 59.45834858851133
Score: -0.7379591934342283, Percentile: 55.4681164207129
Score: -1.585355523653376, Percentile: 50.63705252403856
Score: 0.3988326529495701, Percentile: 59.842592771681815
Score: 0.4305434699512298, Percentile: 60.0445900119804
Score: 0.5769626793517122, Percentile: 60.43875310364622
Score: -0.6786372503773516, Percentile: 55.761968047818065
Score: 0.2951919088911607, Percentile: 59.469750562865634
Score: 0.7186086804858189, Percentile: 61.67498278379903
Score: 0.4549436025837737, Percentile: 60.17202723607935
Score: 1.4513547676315073, Percentile: 64.42250755199935
Score: -0.16152627131938407, Percentile: 56.8030799210731
Score: -1.4851574597633148, Percentile: 50.746086448253884
Score: 0.42687195261355576, Percentile: 60.021202523418374
Score: -0.1817761812081891, Percentile: 56.79354065793106
Score: -0.40051534087885576, Percentile: 56.386424611647826
Score: -0.7783564720655269, Percentile: 54.60701689263761
Score: -1.769238777276643, Percentile: 50.357527010189976
Score: -0.3815388469038306, Percentile: 56.48419323019133
Score: 1.5199071916282951, Percentile: 64.50358384596986
Score: -1.138116852902264, Percentile: 53.25218094306265
Score: -0.03713622792639011, Percentile: 58.087509335243254
Score: 0.37242834179022516, Percentile: 59.67439786248431

In [ ]:
data['회복점수']=all_scores[0]

C:\Users\ohke7\AppData\Local\Temp\ipykernel_18232\871335482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['회복점수']=all_scores[0]

In [ ]:
data

,공연시설코드,감소폭,감소기간,최저지점이후회복기간,총기간,충격반응력,충격회복력,cluster,ratio,resilience,회복점수
0,FC222007,17867850.0,15,6,21,0.999441,838.051600,1.0,7.018727,1.624241,65.125895
1,FC222040,3548180.0,12,9,21,0.887045,2.596457,0.0,1.176063,-0.656679,55.790879
2,FC222048,31731533.0,2,12,14,0.996858,53.153837,1.0,4.254676,0.655500,61.016793
4,FC222054,10366874.0,4,10,14,0.965359,2.864677,0.0,1.181252,-0.653619,55.794907
6,FC222061,851200.0,3,14,17,0.928042,1.054113,0.0,0.168433,-1.250739,52.981777
...,...,...,...,...,...,...,...,...,...,...,...
129,FC223835,12459193.0,16,1,17,0.771788,3.490741,0.0,1.642747,-0.381539,56.484193
130,FC223889,43647087.0,21,1,22,0.981118,112.850000,0.0,4.867930,1.519907,64.503584
131,FC223890,979125.0,3,25,28,0.757177,1.012102,0.0,0.359460,-1.138117,53.252181
132,FC223897,5539113.0,9,5,14,0.790950,5.823907,1.0,2.278421,-0.037136,58.087509
133,FC223909,108654235.0,4,22,26,0.991397,16.383527,0.0,2.921606,0.372428,59.674398

In [ ]:
data.groupby('cluster')['회복점수'].agg(['sum'])

                 sum
cluster
0.0      2616.841216
1.0      2258.876440

## 회복이 안된 극장들이 2022년 12월에 회복이 모두 됐을때

In [ ]:
cluster = pd.read_csv('data/중극장_군집분석.csv', encoding='cp949')
recover = pd.read_csv("data/회복모두완료된극장의분석.csv")

In [ ]:
cluster= recover.merge(cluster[['공연시설코드', 'cluster']], on='공연시설코드', how='left')

In [ ]:
cluster

       공연시설코드     충격반응력       충격회복력  cluster
0    FC222007  0.999441  838.051600      1.0
1    FC222040  0.887045    2.596457      0.0
2    FC222048  0.996858   53.153837      1.0
3    FC222049  0.000000    0.000000      0.0
4    FC222054  0.965359    2.864677      0.0
..        ...       ...         ...      ...
133  FC223909  0.991397   16.383527      0.0
134  FC223941  0.000000    0.000000      1.0
135  FC224381  0.000000    0.000000      1.0
136  FC224454  0.000000    0.000000      1.0
137  FC224496  0.000000    0.000000      0.0

[138 rows x 4 columns]

In [ ]:
data = cluster[(cluster['충격회복력']!=0)&(cluster['충격회복력']!=-100)]
minvalue = data.groupby('cluster')[['충격회복력', '충격반응력']].min()
minvalue

            충격회복력     충격반응력
cluster
0.0      0.090933  0.114183
1.0      0.165179  0.250000

In [ ]:
c0_recovery_min=minvalue.iloc[0,0]
c0_response_min=minvalue.iloc[0,1]
c1_recovery_min=minvalue.iloc[1,0]
c1_response_min=minvalue.iloc[1,1]

In [ ]:
final_ratio=[]
theaters = cluster['공연시설코드'].unique()
for theater in theaters:
    if cluster[cluster['공연시설코드']==theater]['cluster'].iloc[0]==0:
        ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c0_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c0_response_min+0.0001))
    else:
        ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c1_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c1_response_min+0.0001))
    final_ratio.append(ratio)
cluster['ratio']=final_ratio

C:\Users\ohke7\AppData\Local\Temp\ipykernel_18232\3992247558.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c1_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c1_response_min+0.0001))
C:\Users\ohke7\AppData\Local\Temp\ipykernel_18232\3992247558.py:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  ratio=math.log((cluster[cluster['공연시설코드']==theater]['충격회복력']-c0_recovery_min+0.0001)/(cluster[cluster['공연시설코드']==theater]['충격반응력']-c0_response_min+0.0001))

In [ ]:
data = cluster[(cluster['충격회복력']!=0)&(cluster['충격회복력']!=-100)]
ratiosummary = data.groupby('cluster')[['ratio']].agg(['mean', 'std'])
ratiosummary

            ratio
             mean       std
cluster
0.0      2.017348  1.871015
1.0      2.254063  2.723920

In [ ]:
c0_aver=ratiosummary.iloc[0,0]
c0_stdev=ratiosummary.iloc[0,1]
c1_aver=ratiosummary.iloc[1,0]
c1_stdev=ratiosummary.iloc[1,1]

In [ ]:
final_resilience=[]
theaters = cluster['공연시설코드'].unique()
for theater in theaters:
    if cluster[cluster['공연시설코드']==theater]['cluster'].iloc[0]==0:
        resilience=(cluster[cluster['공연시설코드']==theater]['ratio']-c0_aver)/c0_stdev
    else:
        resilience=(cluster[cluster['공연시설코드']==theater]['ratio']-c1_aver)/c1_stdev
    final_resilience.append(resilience.iloc[0])
cluster['resilience']=final_resilience

In [ ]:
cluster

       공연시설코드     충격반응력       충격회복력  cluster     ratio  resilience
0    FC222007  0.999441  838.051600      1.0  7.019177    1.749359
1    FC222040  0.887045    2.596457      0.0  1.176063   -0.449641
2    FC222048  0.996858   53.153837      1.0  4.261825    0.737085
3    FC222049  0.000000    0.000000      0.0 -0.227898   -1.200015
4    FC222054  0.965359    2.864677      0.0  1.181252   -0.446868
..        ...       ...         ...      ...       ...         ...
133  FC223909  0.991397   16.383527      0.0  2.921606    0.483298
134  FC223941  0.000000    0.000000      1.0 -0.414639   -0.979729
135  FC224381  0.000000    0.000000      1.0 -0.414639   -0.979729
136  FC224454  0.000000    0.000000      1.0 -0.414639   -0.979729
137  FC224496  0.000000    0.000000      0.0 -0.227898   -1.200015

[138 rows x 6 columns]

In [ ]:
data = cluster[(cluster['충격회복력']!=0)&(np.isnan(cluster['cluster'])==False)]

In [ ]:
import numpy as np
all_scores=[]

scores=data['resilience']
max_score = max(scores)
min_score = min(scores)
scaled_scores = [(score - min_score) / (max_score - min_score) * 100 for score in scores]
percentiles = [np.percentile(scaled_scores, (score - min_score) / (max_score - min_score) * 100) for score in scores]
all_scores.append(percentiles)

for score, percentile in zip(scores, percentiles):
    print(f"Score: {score}, Percentile: {percentile}")

Score: 1.7493587957440262, Percentile: 64.25630356187325
Score: -0.4496413380033226, Percentile: 54.79025876370141
Score: 0.7370854618940551, Percentile: 59.6625740627516
Score: -0.4468677290898182, Percentile: 54.80056470767592
Score: 1.102484780137207, Percentile: 61.71849571811367
Score: -0.9881882393323802, Percentile: 52.35846257959355
Score: 0.5507246861372386, Percentile: 59.046450539504455
Score: -0.7713160548839608, Percentile: 53.95113151148649
Score: 0.7738612824022745, Percentile: 59.887069446058206
Score: 0.0987083252127934, Percentile: 56.894355076829434
Score: 0.17986478444958148, Percentile: 57.40498836174674
Score: 0.7053370055656389, Percentile: 59.43895693628988
Score: -0.23500340229082456, Percentile: 55.61357212245245
Score: 3.259391187651349, Percentile: 100.0
Score: 0.8738843066447279, Percentile: 60.4276335355049
Score: -0.02386649948368312, Percentile: 56.57423484970907
Score: -0.05260445143292152, Percentile: 56.51772227853635
Score: 1.6705262646511836, Percentile: 63.8655445751213
Score: -0.6239686846494761, Percentile: 54.29329538602513
Score: -0.1637277222982038, Percentile: 55.627761005076394
Score: 0.15953559803495887, Percentile: 57.32978412664344
Score: 2.259447982911705, Percentile: 67.02186214455637
Score: 1.410754251780072, Percentile: 62.599647327611805
Score: -0.37710608390178973, Percentile: 55.05871943190471
Score: 0.11948984183020718, Percentile: 57.045793486342355
Score: 0.6629767987881301, Percentile: 59.25031358199527
Score: -0.0035307088884397515, Percentile: 56.61422474931629
Score: 0.28343129783173643, Percentile: 57.65956998819944
Score: 1.0749662794127102, Percentile: 61.67502640576413
Score: -0.2055248319847231, Percentile: 55.62010576212236
Score: -0.2321453133313775, Percentile: 55.614326229772665
Score: -0.3864408667921559, Percentile: 55.02417583282096
Score: -0.340996157982619, Percentile: 55.29181462190678
Score: -0.5299154895846728, Percentile: 54.50529930936143
Score: -0.434591043442166, Percentile: 54.84599489197377
Score: 1.0395218799276136, Percentile: 61.65687924613
Score: 0.34262735229616725, Percentile: 57.98130412056634
Score: 0.03573762424520154, Percentile: 56.68695031521877
Score: 0.5740342511189783, Percentile: 59.0757755107594
Score: -0.08032075568820558, Percentile: 56.36364983081459
Score: 0.2903448480960447, Percentile: 57.66751900820306
Score: 0.6348408597808717, Percentile: 59.18080372621532
Score: -1.1348831349324953, Percentile: 51.92598073710698
Score: -0.8025914658795201, Percentile: 53.848248848222
Score: -1.0276838115558595, Percentile: 52.32028419774982
Score: 0.10951487231681545, Percentile: 56.97310420452246
Score: -0.2606277204150049, Percentile: 55.60681114119997
Score: -1.5037137835726135, Percentile: 50.08949614548476
Score: 1.9313376467472354, Percentile: 65.03158236462765
Score: -1.6154308056060926, Percentile: 49.87791467488509
Score: 0.8286054266203362, Percentile: 60.1043535889268
Score: 0.30392118703211624, Percentile: 57.683128729063235
Score: 0.24537390065841141, Percentile: 57.615812584282395
Score: -0.7217598105078687, Percentile: 54.03921774786056
Score: -0.044336985128950825, Percentile: 56.53398007515131
Score: 0.6046671521079374, Percentile: 59.11431372207568
Score: 0.23355663553580117, Percentile: 57.60222540067102
Score: -1.1993757900977662, Percentile: 51.89243878755547
Score: -0.8071637966471761, Percentile: 53.83320784470747
Score: 0.03674411647314971, Percentile: 56.68877725530283
Score: -1.4109868862190604, Percentile: 50.525798439072254
Score: -0.366942499095505, Percentile: 55.1132558038091
Score: 1.2027847227847732, Percentile: 62.00995485491664
Score: -1.3757758051300621, Percentile: 50.689460997188554
Score: 0.4740142963935936, Percentile: 58.60063337969298
Score: -0.6673800568887791, Percentile: 54.10420467099167
Score: -1.0782105985982153, Percentile: 52.17445590455345
Score: -0.4515780662329135, Percentile: 54.783044381761336
Score: 0.8974830117684948, Percentile: 60.616476566287
Score: -2.363145326526427, Percentile: 46.97679621200275
Score: 0.1861832287782901, Percentile: 57.42836233073359
Score: -0.5460877614257915, Percentile: 54.48096910436034
Score: 0.4084144488528379, Percentile: 58.392607944606745
Score: -0.5789573240208833, Percentile: 54.43151883515318
Score: -1.2915357994671632, Percentile: 51.423644105993475
Score: -0.42256594991811547, Percentile: 54.890494053284534
Score: 0.47461743110294524, Percentile: 58.604810295357744
Score: 0.5037962306332299, Percentile: 58.80688353529434
Score: 0.6687192747842161, Percentile: 59.26450037271176
Score: -0.5545022028820967, Percentile: 54.46831008603485
Score: 0.36443897919552376, Percentile: 58.16933318247055
Score: 0.8027767511071338, Percentile: 60.00183738924045
Score: 0.5295097172758534, Percentile: 58.984958289553795
Score: 1.4614016494475046, Percentile: 62.7831973230548
Score: -0.07654115756556824, Percentile: 56.40626741569182
Score: -1.2007009894481337, Percentile: 51.891749565354246
Score: 0.5326541441861105, Percentile: 59.006734529280166
Score: -0.09839819326862391, Percentile: 56.159814209817746
Score: -0.31545340674601574, Percentile: 55.46759599516197
Score: -4.003916892680053, Percentile: 0.0
Score: -0.6200442183778592, Percentile: 54.310389527379016
Score: -1.458235631380854, Percentile: 50.304220465438036
Score: -0.20021272509854954, Percentile: 55.62107868750204
Score: 1.5235480240214134, Percentile: 63.05256433234377
Score: -0.8860904434030509, Percentile: 53.05877294800358
Score: 0.0342876672805647, Percentile: 56.68431841759921
Score: 0.4832981501290462, Percentile: 58.664927265446345

In [ ]:
data['회복점수']=all_scores[0]

C:\Users\ohke7\AppData\Local\Temp\ipykernel_18232\871335482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['회복점수']=all_scores[0]

In [ ]:
data

       공연시설코드     충격반응력       충격회복력  cluster     ratio  resilience       회복점수
0    FC222007  0.999441  838.051600      1.0  7.019177    1.749359  64.256304
1    FC222040  0.887045    2.596457      0.0  1.176063   -0.449641  54.790259
2    FC222048  0.996858   53.153837      1.0  4.261825    0.737085  59.662574
4    FC222054  0.965359    2.864677      0.0  1.181252   -0.446868  54.800565
5    FC222058  0.980903   51.365195      0.0  4.080114    1.102485  61.718496
..        ...       ...         ...      ...       ...         ...        ...
129  FC223835  0.771788    3.490741      0.0  1.642747   -0.200213  55.621079
130  FC223889  0.981118  112.850000      0.0  4.867930    1.523548  63.052564
131  FC223890  0.757177    1.012102      0.0  0.359460   -0.886090  53.058773
132  FC223897  0.790950    5.823907      1.0  2.347460    0.034288  56.684318
133  FC223909  0.991397   16.383527      0.0  2.921606    0.483298  58.664927

[97 rows x 7 columns]

In [ ]:
max(all_scores[0])

100.0

## 유형별 회복지수 확인

In [ ]:
data.groupby('cluster')['회복점수'].agg(['sum'])

                 sum
cluster
0.0      2949.017065
1.0      2541.016669

In [1]:
(2949.017065-2616.841216)/2616.841216*100

12.693771672847276

In [2]:
(2541.016669-2258.876440)/2258.876440*100

12.490290482643667

In [3]:
(2949.017065+2541.016669-2541.016669-2258.876440)/(2541.016669+2258.876440)*100

14.378249876147406